<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link href="style/auth.css" rel="stylesheet" type="text/css"/>
  <title>Login | Midpoint</title>
</head>
<body>
  <div id="auth-container">
    <div id="auth">
      <h1>Welcome to Midpoint</h1>
      <h2>Please login</h2>
      <form action="auth/login" method="POST">
        <div class="field">
          <input type="text" name="cred[email]" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" name="cred[password]" placeholder="Password">
        </div>
        <div class="field">
          <button class="submit">Login</button>
        </div>
      </form>
      <p>
        <div>
          Don't have an account?
        </div>
        <div>
          <a href="auth/register">Sign up here.</a>
        </div>
      </p>
    </div>
  </div>
</body>
</html>
