<!DOCTYPE html>
<html lang="en">
<head>
  <base href="/"/>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <link href="style/auth.css" rel="stylesheet" type="text/css"/>
  <title>Register | Midpoint</title>
</head>
<body>
  <div id="auth-container">
    <div id="auth">
      <h1>Welcome to Midpoint</h1>
      <h2>Create an Account</h2>
      <form action="/users" method="POST">
        <div class="field">
          <input type="text" name="cred[email]" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" name="cred[password_digest]" placeholder="Password">
        </div>
        <div class="field">
          <button class="submit">Create Account</button>
        </div>
      </form>
      <p>
        <div>
          Already have an account?
        </div>
        <div>
          <a href="auth/login">Login here.</a>
        </div>
      </p>
    </div>
  </div>
</body>
</html>
