<header>
  <div id="logo">
    <a href="/midpoint">Midpoint</a>
  </div>
  <div id="user">
    <a href="users/<%= currentUser.id %>">
      <span><%= currentUser.email %></span>
      <img src="image/user-icon.svg" class="icon"/>
    </a>
  </div>
</header>
