<section id="steps">
  <div>
    <div>
      <img class="icon" src="image/checkmark-icon<%= currentStep < 1 ? '-gray' : '' %>.svg"/>
    </div>
    <span>Choose a Group</span>
  </div>
  <div>
    <div>
      <img class="icon" src="image/checkmark-icon<%= currentStep < 2 ? '-gray' : '' %>.svg"/>
    </div>
    <span>Pick a Place</span>
  </div>
  <div>
    <div>
      <img class="icon" src="image/checkmark-icon<%= currentStep < 3 ? '-gray' : '' %>.svg"/>
    </div>
    <span>Complete</span>
  </div>
</section>
