<section id="steps">
  <img class="icon" src="image/checkmark-icon.svg"/>
  <span>Choose a Group</span>
  <img class="arrow" src="image/arrow.svg"/>
  <span class="checkmark" id="checkmark-2">
    <img class="icon" src="image/checkmark-icon.svg"/>
    <img class="icon" src="image/checkmark-icon-gray.svg"/>
  </span>
  <span>Select a Destination</span>
  <img class="arrow" src="image/arrow.svg"/>
  <span class="checkmark" id="checkmark-3">
    <img class="icon" src="image/checkmark-icon.svg"/>
    <img class="icon" src="image/checkmark-icon-gray.svg"/>
  </span>
  <span>Complete</span>
</section>
