<section id="steps">
      <img class="icon" src="image/checkmark-icon<%= currentStep < 1 ? '-gray' : '' %>.svg"/>
      <span>Choose a Group</span>
      <img class="arrow" src="image/arrow.svg"/>
      <img class="icon" src="image/checkmark-icon<%= currentStep < 2 ? '-gray' : '' %>.svg"/>
      <span>Select a Destination</span>
      <img class="arrow" src="image/arrow.svg"/>
    <img class="icon" src="image/checkmark-icon<%= currentStep < 3 ? '-gray' : '' %>.svg"/>
    <span>Complete</span>
</section>
