<div class="blue">
  <div class="blue-content">
    <div class="step" id="step-3">
      <h1 class="dialog">Congrats!</h1>
      <h2 class="dialog">
        You found the perfect spot nearby!
        <br />
        <div id="share">
        Want to spread the word?
        <br />
        [shareable link will go here]
        </div>

      </h2>
      <div class="buttons">
        <button id="step-3-back-button" class="submit">Back</button>
      </div>
    </div>
  </div>
</div>
