<div class="step" id="step-2">
  <h1 class="dialog">Pick a Destination</h1>
  <h2 class="dialog">Find the perfect spot - somewhere in the middle.</h2>
  <div id="step-2-search">
    <!-- commenting out the <form> fixed so now you can hit enter when
    youre searching for places and it wont go to a new page
    -->
    <!-- <form> -->
      <input id="search-box" type="text" placeholder="Search Box">
    <!-- </form> -->
  </div>
  <div class="buttons">
    <button id="step-2-back-button" class="submit">Back<img src="image/arrow.svg" class="icon" /></button>
    <button id="step-2-button" class="submit">Next</button>
  </div>
</div>
