<div class="step" id="step-3">
  <h1 class="dialog">Congrats!</h1>
  <h2 class="dialog">
    You found the perfect spot nearby!
    <br />
    Want to spread the word?
    <br />
    [shareable link will go here]
  </h2>
  <div class="buttons">
    <button id="step-3-back-button" class="submit">Back<img src="image/arrow.svg" class="icon" /></button>
  </div>
</div>
