#controls {
  float: left;
}

#build {
  float: right;
}

#people {
  clear: both;
  float: left;
  padding: 40px 0;
}

#people-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#people-list li {
  margin: 0;
  padding: 10px 0;
}

#group-menu {
  display: none;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  width: 300px;
}
/*
#group-menu a {
  background-color: #232a88;
  display: block;
  padding: 10px 20px;
}

#group-menu a.selected {
  color: #fff;
}*/

#group-menu li {
  background-color: #232a88;
  color: #fff;
  display: block;
  padding: 10px 20px;
  margin: 0;
}

#group-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#group-save {
  display: none;
  float: right;
  padding: 20px 0;
}

#group-selector {
  background-color: #171c61;
  display: inline-block;
  color: #FFF;
  padding: 20px;
  width: 300px;
}

.box {
  width: 300px;
}

.buttons {
  clear: both;
  text-align: center;
  padding-top: 20px;
}

.buttons button {
  width: 100px;
}
