#step-1-button {
  float: right;
  border-radius: 5px;
}

#build {
  padding-top: 20px;
}

#build button {
  width: 48%;
  margin: 10px 0 0 0;
}

#build button:first-of-type {
  float: left;
}

#build button:last-of-type {
  float: right;
}

#map-steps {
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  height: calc(100% - 100px);
  left: 0px;
  overflow: auto;
  top: 50px;
  width: 350px;
}

#people {
  clear: both;
  padding: 40px 0;
}

#people-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#people-list li {
  margin: 0;
  padding: 10px 0;
}

#group-menu {
  display: none;
  max-height: 200px;
  overflow: auto;
  position: absolute;
  width: 300px;
}
/*
#group-menu a {
  background-color: #232a88;
  display: block;
  padding: 10px 20px;
}

#group-menu a.selected {
  color: #fff;
}*/

#group-menu li {
  background-color: #0791d0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin: 0;
}

#group-menu li:hover {
  background-color: #069fe5;
}

#group-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#group-save {
  display: none;
  padding: 20px 0;
  padding-right: 0;
  padding-left: 0;
}

#group-selector {
  background-color: #00b1fd;
  border-radius: 5px;
  display: inline-block;
  color: #FFF;
  padding: 20px;
  width: 300px;
}

.box {
  width: 300px;
}

.buttons {
  clear: both;
  text-align: center;
  padding-top: 20px;
}

.buttons button {
  width: 100px;
}

img.down {
  height: 20px;
  float:right;
  vertical-align: middle;
  width: 20px;
}
