@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #00b1fd;
}

body {
  font-family: 'lato', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

button {
  border: none;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
}

button.submit {
  background-color: #00b1fd;
  color: #fff;
}

form .field {
  margin-bottom: 10px;
}

form .field button {
  margin-left: 152px;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}

input {
  font-size: 12px;
  padding: 20px;
  border: none;
}

section {
  padding: 10px;
}

section button {
  width: 300px;
}

section input {
  border: 1px #ccc solid;
  width: 300px;
}

section label {
  display: inline-block;
  width: 150px;
}

#map {
    height: 70vh;
    width: 100%;
}

.icon {
  width: 24px;
  height: 24px;
}

.info {
  width: 100;
  height: 100;
  background-color: white;
}
.infowindow {
  width: 100;
  height: 100;
}
