
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #00b1fd;
}

body {
  font-family: 'lato', sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
}

button {
  border: none;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
}

button.submit {
  background-color: #00b1fd;
  color: #fff;
}

form .field {
  margin-bottom: 10px;
}


h1, h2 {
  font-weight: normal;
  margin: 0;
  padding: 0 0 20px 0;
}

h4 {
  color: #1d0b71;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding: 0 0 20px 0;
}

input {
  font-size: 12px;
  padding: 20px;
  border: none;
}

section {
  padding: 10px;
}

section button {
  width: 300px;
}

section input {
  border: 1px #ccc solid;
  width: 300px;
}

section label {
  display: inline-block;
  width: 150px;
}

#map {
    height: 70vh;
    width: 100%;
}

#steps {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#steps img {
  margin: 0 10px;
  vertical-align: middle;
}

#steps span {
  vertical-align: middle;
}

h1.dialog {
  text-align: center;
  font-weight: 700;
  letter-spacing: 4px;
  color: #1d0b71;
  padding-bottom: 10px;
}

h2.dialog {
  text-align: center;
  font-weight: 700;
  font-size: normal;
  letter-spacing: 1px;
  color: #a3a3a3;
  padding-bottom: 50px;
}


.blue {
  width: 100%;
  height: 200px;
  background-color: #bfe7ff;
}
.icon, .arrow {
  width: 24px;
  height: 24px;
}

.info {
  width: 100;
  height: 100;
  background-color: white;
}

.infowindow {
  width: 100;
  height: 100;
}
