
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #00b1fd;
}

body {
  font-family: 'lato', sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
}

button {
  border: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  padding: 20px;
  text-transform: uppercase;
}

button.submit {
  background-color: #00b1fd;
  color: #fff;
}

form .field {
  margin-bottom: 10px;
}


h1 {
  font-weight: normal;
  margin: 0;
  padding: 50px 0 10px 0;
  text-transform: uppercase;
}

h2 {
    font-weight: normal;
    margin: 0;
    padding: 0 0 10px 0;
}


h4 {
  color: #1d0b71;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  padding: 0 0 20px 0;
}

input {
  background-color: #fff;
  font-size: 12px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  color: #000;
  outline: none;
}

section {
  padding: 10px;
}

section button {
  width: 300px;
}

section input {
  border: 1px #ccc solid;
  width: 300px;
}

section label {
  display: inline-block;
  width: 150px;
}

#my-groups {
  padding-left: 10px;
}

#all-groups {
  list-style-type: none;
  margin: 0px auto;
  max-width: 500px;
}

#all-groups li {
  clear: both;
}

#all-groups li span {
  float: left
}

#all-groups li form {
  float: right;
  padding-bottom: 10px;
}

#map {
    height: calc(100% - 100px);
    width: 100%;
}

#steps {
  margin: auto;
  width: 50%;
  text-align: center;
}

#steps img {
  margin: 0 10px;
  vertical-align: middle;
}

#steps span {
  vertical-align: middle;
}

h1.dialog {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #1d0b71;
  padding: 50px 0 10px 0;
  font-size: 20px;
}

h2.dialog {
  text-align: center;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  color: #71ba7d;;
  padding: 5px;
}


.blue {
  width: 100%;
  padding: 20px;
  overflow: auto;
}

.blue-content {
  max-width: 950px;
  margin: 0 auto;
}

.icon, .arrow {
  width: 24px;
  height: 24px;
}

.info {
  width: 100;
  height: 100;
  background-color: white;
}

.infowindow {
  width: 100;
  height: 100;
}

/*
these last two are for styling the jquery autocomplete widget...
i think the one that says input is the input field that became the autocomplete
and the other one is the menu that pops up when you autocomplete

its bound to a form element with the id "build"
it itself is the input element within that form i think
something something something
mvp baby
*/

.ui-autocomplete-input {
  width: inherit;
  max-width: inherit;
}
.ui-autocomplete {
  width: inherit;
  max-width: inherit;
  background-color: white;
  list-style: none;
}

.ui-menu {
  margin: 0;
  max-height: 200px;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 300px;
}

.ui-menu li {
  background-color: #0791d0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin: 0;
}

.ui-menu li:hover {
  background-color: #069fe5;
}
