<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit</title>
</head>

<body>

    <ul>
        <%groupStuff.forEach(function(group){ %>
                <li>
                    <h1><%=group.name%></h1>

                </li>
                <%})%>
        <%allUserinGroup.forEach(function(user){ %>
                <li>
                    <h1><%=user.username%></h1>
                    <form action="/users/<%=user.username%>?_method=DELETE" method="POST">
                        <input type="submit" name="Delete User" />
                        <a href="/users/<%=user.username%>/delete">Delete</a>
                    </form>

                </li>
                <%})%>
        <ul>

</body>

</html>
