<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit</title>
</head>

<body>


    <form action="/groups/<%=groupInfo[0].name%>?_method=PUT" method="POST">
      <div class="field">
        <label>Group Name:</label>
        <input name="groupInfo[0][name]" type="text" value="<%=groupInfo[0].name%>"/>
        <button class="submit">Edit Group Name</button>
      </div>
    </form>






</body>

</html>
