<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>these are your yourGroups mayn</h1>
      <ul>
        <%groupsJoi.forEach(function(group){ %>
          <li>
              <%=group.name%>
          </li>
      <%})%>
  </ul>

  </body>
</html>
