<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>"> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoG-f9uoOHEITtlJrW2vedpR331nPc6sA&"></script>
    <link rel="stylesheet" href="style.css">

    </script>
    <title>Document</title>
</head>
<body>
ljwehfkljewbewjlfbewljf
    <div id="map"></div>
</body>
</html>
