<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="math.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap"></script>
    <title>Document</title>
</head>
<body>
    <div>
      <% if (locals.currentUser) { %>
        <form action="/auth/logout" method="GET">
          <input type="submit" value="Logout">
        </form>
      <% } %>
    </div>
    <div id="map"></div>
    <form id="controls" method="GET">
      <input id="group-id" type="number" name="type" placeholder="Group Number">
      <input id="add-group" type="submit" value="Add Group">
    </form>
    <form id="place-search" method="GET">
      <input id="place-type" type="text" placeholder="Place Type">
      <input id="search-radius" type="number" placeholder="Radius">
      <input id="add-places" type="submit" value="Search">
    </form>
</body>
</html>
