<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signup Page</title>
  </head>
  <body>
    <h1>Signup Page</h1>
    <form action="/users" method="POST">
      <input type="text" name="cred[email]">
      <input type="text" name="cred[password_digest]">
      <input type="submit" value="Create Account">
    </form>
  </body>
</html>
